@use 'base/variables' as *;
@use 'base/mixins' as *;

.footer {
     background-color: $rosa;
     padding: 2rem 0;

    p {
        margin: 0;
        font-size: 2.2rem;
        color: $blanco;
        text-align: center;
    }

}

